/* TODO: Global Values */

:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}
/* TODO: Universal Structure */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* TODO: Typography */

html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/* TODO: Links */

a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.25s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* TODO: Badges */

/* structure */
.badge {
  border-radius: 20px;
  padding: 0.5rem 2rem;
  font-weight: 600;
  /* NOTE: make sure the characters of the badge in a single line  */
  white-space: nowrap;
  font-size: 2rem;
}

/* skin */
.badge--primary {
  background: var(--color-primary);
  color: #fff;
}
.badge--black {
  background: rgba(211, 15, 15, 0.701);
  color: #f3f3f3;
}

.badge--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

/* TODO: Lists */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-heading);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* TODO: Icons */

/* structure */
.icon {
  width: 20px;
  height: 20px;
}
.icon-container {
  background: #79797948;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
/* skin */
.icon--primary {
  fill: var(--color-primary);
}
.icon--white {
  fill: white;
}
.icon--small {
  width: 30px;
  height: 30px;
}
.icon-container--accent {
  background: var(--color-accent);
}

/* TODO: Buttons */

/* structure */
.btn {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 2rem 3rem;
  /* remove the border */
  border: 0;
  border-radius: 40px;
  /* 1rem vertical 0rem horizontal */
  margin: 1rem 0;
  cursor: pointer;
  outline: 0;
  white-space: nowrap;
  /* NOTE: set the label of the botton to center */
  text-align: center;
}

.btn .icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  /* set the position to the middle vertically */
  vertical-align: middle;
}

/* skin */
.btn--primary {
  background: var(--color-primary);
  color: #fff;
}

.btn--primary:hover {
  background: #3a8ffd;
}

.btn--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.btn--secondary:hover {
  background: #00c8eb;
}

.btn--black {
  background: #111;
  color: #fff;
  transition: background 0.8s;
}

.btn--black:hover {
  background: rgb(102, 102, 102);
}

.btn--accent {
  background: var(--color-accent);
  color: #fff;
}

.btn--accent:hover {
  background: #ec3000;
}

.btn--outline {
  background: #fff;
  color: var(--color-heading);
  border: 2px solid var(--color-heading);
  transition: background 0.6s;
}

.btn--outline:hover {
  background: #000;
  color: #fff;
}

.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* TODO: Inputs */

.input {
  padding: 1.5rem 3.5rem;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  outline: 0;
  color: var(--color-heading);
  font-size: 2rem;
}

/* setting the color of the contents of the placeholder */
::placeholder {
  color: #cdcbd7;
}

/* TODO: group inputs and buttons */
.input-group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  /* NOTE: set the display to flex to make the nested input looks right */
  display: flex;
}

.input-group .input {
  /* NOTE: remove the nested input border */
  border: 0;
  /* NOTE: grow the nested input element */
  padding: 2rem 3rem;
  flex-grow: 1;
  /* NOTE: Fixed */
  width: 100%;

  font-size: 2rem;
}
.input-group .btn {
  /* margin-left: -10rem; */
  margin: 4px;
}
.input-group .input-icon {
  margin: 0.4rem;
  margin-left: 0;
}
@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
    border-radius: var(--border-radius);
  }
}

/* TODO: Cards */

/* structure */
.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

/* skin */
.card--primary .card__header {
  background: #111;
  color: #fff;
}
.card--secondary .card__header {
  background: var(--color-secondary);
  color: #fff;
}
.card--accent .card__header {
  background: var(--color-accent);
  color: #fff;
}
.card--primary .badge--primary {
  background: #126de4;
}

/* TODO: Plans */
.plan {
  transition: transform 0.3s ease-in;
}

.plan__name {
  color: #fff;
  margin: 0;
  font-weight: 500;
  font-size: 2.4rem;
}

.plan__price {
  font-size: 6rem;
}

.plan__billing-cycle {
  font-size: 2.4rem;
  font-weight: 300;
  margin-right: 1rem;
}

.plan__description {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  /* set the display attribute to block to go the new line */
  display: block;
}

.plan .list__item {
  margin-bottom: 2rem;
}

.plan--popular {
  transform: scale(1.1);
}

.plan--popular .card__header {
  position: relative;
}

.plan--popular .card__header::before {
  content: url(../images/popular.svg);
  width: 60px;
  height: 60px;
  /* NOTE: use the inline-block display to make the width attribute works */
  display: inline-block;
  position: absolute;
  /* margin-top: -0.5%;
  margin-left: 92.5%; */

  /* NOTE: use the top and right attribute to make sure the icon visible */
  top: -1%;
  right: 1%;
}

.plan:hover {
  transform: scale(1.05);
}

.plan--popular:hover {
  transform: scale(1.15);
}

@media screen and (min-width: 1024px) {
  .plan__name {
    /* 14px */
    font-size: 1.4rem;
  }
  .plan__price {
    /* 50px */
    font-size: 5rem;
  }
  .plan__billing-cycle {
    /* 16px */
    font-size: 1.6rem;
  }
  .plan__description {
    /* 17px */
    font-size: 1.7rem;
  }
}

/* TODO: Media */
.media {
  display: flex;
}

.media__title {
  margin-top: 0;
}

.media__body {
  margin: 0 2rem;
}

.media__image {
  margin-top: 1.5rem;
}

/* TODO: Quotes */
.quote {
  font-size: 3rem;
  font-style: italic;
  color: var(--color-body-darker);
  line-height: 1.3;
}

/* use pseudo class to insert quotation mark */
.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__author {
  font-size: 3rem;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 0;
}

.quote__company {
  color: var(--color-heading);
  opacity: 0.4;
  font-size: 2rem;
  font-style: normal;
}

.quote__line {
  position: relative;
  bottom: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }

  .quote__author {
    font-size: 2.4rem;
  }

  .quote__organization {
    font-size: 1.6rem;
  }
}

/* TODO: Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* TODO: Testimonials */
.testimonial {
  padding: 3rem;
}

.testimonial__image {
  position: relative;
}

.testimonial__image > .icon-container {
  position: absolute;
  top: 3rem;
  right: -30px;
}

/* target the img element inside the testimonial class */
.testimonial__image > img {
  /* make sure the image to sized rightly while sizing the page */
  width: 100%;
}

@media screen and (min-width: 768px) {
  .testimonial .quote,
  .testimonial .quote__author {
    font-size: 2.4rem;
  }

  .testimonial .quote {
    margin-left: 6rem;
  }
}

/* TODO: Callouts */
.callout {
  /* border: 1px solid black; */
  padding: 4rem;
  border-radius: 0.5rem;
}

.callout--primary {
  background: var(--color-primary);
}

.callout__heading {
  color: white;
  margin-top: 0;
  font-size: 3rem;
}

.callout__text {
  color: white;
}

.callout .btn {
  justify-self: center;
  align-self: center;
}

/* .grid {
  display: grid;
  ## horizontal alignment
  justify-items: center;
  ##vertical alignment
  ##the default value is stretch
  align-items: center;
} */

.callout__content {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .callout .grid--1x2 {
    /* auto: set the second column width to the rest size of 1fr from the first columns */
    grid-template-columns: 1fr auto;
  }
  .callout__content {
    text-align: left;
  }
  .callout .btn {
    justify-self: start;
    margin: 0 2rem;
  }
}

/* TODO: Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__home {
  transform: rotate(90deg);
  transition: transform 0.5s;
}

.collapsible__content {
  /* hide the content before clicking the icon */
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 1s;
}
/* add the expanded style */
.collapsible--expanded .collapsible__home {
  transform: rotate(180deg);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* TODO: Blocks */
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header {
  text-align: center;
}

.block__heading {
  margin-top: 0;
}

.block--white {
  background: #fff;
  color: #7b858b;
}

.block--white .block__heading {
  color: #222;
}

/* .block--skewed-right {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
}

.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
} */

.block--skewed-circle {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: circle(50% at 50% 50%);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* TODO: Navigation Bar */
.nav {
  background: #000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 1rem;
  align-items: center;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 1.5rem 2rem;
  border: 1px solid #222;
}

.nav__item > a {
  color: whitesmoke;
  transition: color 0.3s;
}
.nav__item > a:hover {
  color: rgb(216, 95, 43);
}

.nav__toggler {
  opacity: 0.6;
  transition: all 1s;
  cursor: pointer;
}

/* select both nav and collapsible class */
.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

.nav__logo {
  margin-left: 1rem;
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }
  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.5rem;
    /* make the navigation bar list item visible */
    max-height: 100%;
    opacity: 1;
  }
  .nav__item {
    border: 0;
  }
}

/* TODO: Heros */
.hero__tagline {
  font-size: 2rem;
  color: rgb(91, 91, 91);
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}

.hero__image {
  width: 100%;
  margin-left: 4rem;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
  }
  .hero__content {
    text-align: left;
    align-self: center;
  }
  .hero__image {
    margin-left: 5rem;
  }
}

/* TODO: Search Block */
.block-search .input-group {
  box-shadow: 0 0 20px 0.05rem rgba(0, 0, 0, 0.282);
  border: 0;
  margin: 4rem auto;
  max-width: 67rem;
}

.block-language__names {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 6rem);
  font-size: 2rem;
  font-weight: 600;
  justify-items: center;
  max-width: 70rem;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .block-language__names {
    /* grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); */
    grid-template-columns: repeat(6, 1fr);
  }
}

/* TODO: Plans Block */

.block-plans .grid {
  /* set the space between each element of a grid */
  gap: 8rem 4rem;
}

.block-plans .card {
  max-width: 50rem;
  margin: 0 auto;
}

/* TODO: Features */

.feature {
  gap: 4rem 2rem;
  margin: 12rem 0;
}

.feature:first-of-type {
  margin-top: 6rem;
}

.feature__heading {
  margin: 1rem 0;
}

.feature__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .feature:nth-of-type(even) .feature__content {
    order: 2;
  }
}
