<section class="hero block block--white">
    <div class="container grid grid--1x2">
      <header class="block__header hero__content ">
        <h1 class="block__heading">Cloud Hosting for Pros</h1>
        <p class="hero__tagline">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Recusandae, similique!
        </p>
        <a class="btn btn--black btn--stretched">Get Started</a>
      </header>
      <img class="hero__image " src="images/banner.svg" alt="">
      <div>
  </section>