<section class="container medias">
  <div class="medias__body grid grid--1x2">
    <picture class="medias__image">
      <img src="images/nature.jpg" alt="" />
    </picture>
    <div class="medias__contents">
      <div class="media">
        <div class="media__body">
          <h3 class="media__title">
            <svg class="icon icon--black">
              <use xlink:href="images/sprite.svg#rss"></use>
            </svg>
            I think therefore I am.
          </h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam
            aperiam non autem! Rem voluptas accusamus quod eveniet enim numquam
            iste.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
