<section class="block container block-search">
  <header class="block__header">
    <h2>Start Coding</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, fugiat!</p>
  </header>
  <!-- TODO: need to fix the problem that the search button out of the input area in small size screen -->
  <div class="input-group">
    <input type="text" class="input" placeholder="Enter contents here" />
    <button class="btn btn--black">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>
      Search
    </button>
  </div>
  <ul class="list block-language__names">
    <li>HTML</li>
    <li><span class="badge badge--black">CSS</span></li>
    <li>JavaScript</li>
    <li>Python</li>
    <li>C#/C/C++</li>
    <li>···</li>
  </ul>
</section>
